# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=ad_sync
POSTGRES_PORT=5432

# Connection URL for Prisma / Pg
DATABASE_URL=postgresql://postgres:postgres_password@localhost:5432/ad_sync?schema=public

# Adminer Configuration
ADMINER_PORT=8080


# Authentication & Session
SESSION_SECRET=your_session_secret_key
NODE_ENV=development
